* {
  font-family: "Barlow", sans-serif;
}
.order-navbar {
  background-color: #ce2829;
  color: #faf7f2;
  text-align: center;
  font-family: "Barlow", sans-serif;
  margin-top: 5%;
  text-decoration: none;
}

.ordertext {
  display: flex;
  flex-direction: column;
  padding-left: 30vw;
  padding-right: 30vw;
  font-family: "Barlow", sans-serif;
}
.orderoption {
  display: flex;
  flex-direction: column;
}
.hamur-selection {
  display: flex;
  flex-direction: column;
}
.order-select {
  display: flex;
  justify-content: space-between;
}
.yıldız {
  color: #ce2829;
}
.counter-btn {
  display: flex;

  justify-content: space-evenly;
}
.link-order {
  text-decoration: none;
  color: #faf7f2;
  list-style: none;
}
.link-text {
  display: flex;
  color: #faf7f2;
}
.navbar {
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
}
.btn-sipariş {
  text-decoration: none;
  color: black;
  size: 25vw;
}

.sipariş-ver {
  display: flex;
  flex-direction: column;
  border: 1px;
  border-style: groove;

  min-width: 25vw;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.counter-btn {
  max-height: 7vh;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#toplam-text {
  color: #ce2829;
}
