.order-navbar {
  background-color: #ce2829;
  color: #faf7f2;
  text-align: center;
  font-family: "Barlow", sans-serif;

  text-decoration: none;
}

.ordertext {
  display: flex;
  flex-direction: column;
  padding-left: 35vw;
}
.orderoption {
  display: flex;
  flex-direction: column;
}
.hamur-selection {
  display: flex;

  padding-left: 35vw;
  flex-direction: column;
}
.order-select {
  display: flex;
}
.yıldız {
  color: #ce2829;
}
.counter-btn {
  display: flex;

  padding-left: 35vw;
}
.link-order {
  text-decoration: none;
  color: #faf7f2;
}
.link-text {
  display: flex;
  color: #faf7f2;
}
.navbar {
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
}
